<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="p-4 sm:ml-64">
<div class="md:mt-[50px] mt-[60px]">
   <div class="w-[100%] bg-white border border-gray-200 rounded-lg shadow-sm">
      <div class="bg-[#411E62] p-3 rounded-t-lg">
         <a class="cursor-pointer">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
               Registra Corsa
            </h5>
         </a>
      </div>
      <div class="p-5">
         <p class="mb-3 font-normal text-gray-700">
            In questa pagina puoi aggiungere una nuova corsa.
         </p>
      </div>
   </div>
</div>
