<section class="bg-gray-50 dark:bg-gray-900">
   <div
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
      <a
         [routerLink]="['/']"
         class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
         >
      <img class="w-8 h-8 mr-2" src="./logo.png" alt="logo" />
      <span class="text-[#421F63]">Go On</span>
      <span class="ml-[8px]">The Train</span>
      </a>
      <div
         class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
         >
         <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
               class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
               >
               Registrati per utilizzare il software
            </h1>
            <form
            #loginForm="ngForm"
            class="space-y-4 md:space-y-6"
            (submit)="registerHandler()"
            >
            <div>
               <label
                  for="nome"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Inserisci nome</label
                  >
               <input
               type="text"
               name="nome"
               id="nome"
               [(ngModel)]="nome"
               class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Mario"
               required=""
               />
            </div>
            <div>
               <label
                  for="cognome"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Inserisci cognome</label
                  >
               <input
               type="text"
               name="cognome"
               id="cognome"
               [(ngModel)]="cognome"
               class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Rossi"
               required=""
               />
            </div>
            <div>
               <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Inserisci email</label
                  >
               <input
               type="email"
               name="email"
               id="email"
               [(ngModel)]="email"
               class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="name@company.com"
               required=""
               />
            </div>
            <div>
               <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Inserisci password</label
                  >
               <input
               type="password"
               name="password"
               id="password"
               [(ngModel)]="password"
               placeholder="••••••••"
               class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               required=""
               />
            </div>
            <div>
               <label
                  for="confirmPassword"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Reinserisci password</label
                  >
               <input
               type="password"
               name="confirmPassword"
               id="confirmPassword"
               [(ngModel)]="confirmPassword"
               placeholder="••••••••"
               class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               required=""
               />
            </div>

            <div>
               <label
                  for="dataNascita"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Inserisci data di nascita {{dataNascita()}} </label
                  >
               <input
               type="date"
               name="dataNascita"
               id="dataNascita"
               [(ngModel)]="dataNascita"
               placeholder="••••••••"
               class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               required=""
               />
            </div>

            <div>
               <label
                  for="luogoNascita"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Inserisci luogo di nascita</label
                  >
               <input
               type="text"
               name="luogoNascita"
               id="luogoNascita"
               [(ngModel)]="luogoNascita"
               placeholder="Milano"
               class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               required=""
               />
            </div>

            <div class="flex items-center mb-4">
               <input
                  (click)="setAcceptGdprAndPrivacy()"
                  id="default-checkbox"
                  type="checkbox"
                  value=""
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
               <label
                  for="default-checkbox"
                  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Accettazione
               <a class="cursor-pointer text-blue-500"
                  >informativa privacy & GDPR</a
                  ></label
                  >
            </div>
            <button
               type="submit"
               class="w-full cursor-pointer text-white bg-[#421F63] hover:bg-black focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
               >
               Registrati
            </button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
               Hai già un account?
               <a
                  [routerLink]="['/login']"
                  class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                  >Accedi ora</a
                  >
            </p>
            </form>
         </div>
      </div>
   </div>
</section>
